.research-wrapper {
  margin: 8rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.research-wrapper p {
  color: #63686A;
  font-size: 1.1rem;
  text-align: center;
}

.research-box {
  width: 22%;
}

.president-wrapper {
  margin: 8rem auto;
}

.president-content h2 {
  font-size: 4.5rem;
  font-weight: 700;
}

.partner-wrapper {
  margin: 8rem auto;
}



/* features */
.features-wrapper {
  margin: 8rem auto;
}



/* features */

.team-wrapper {
  margin-bottom: 8rem;
}


.carousel-container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.carousel-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #e0e0e0;
  border-radius: 5px;
}

.slick-prev,
.slick-next {
  font-size: 24px;
  color: #333;
}

.slick-prev:hover,
.slick-next:hover {
  color: #666;
  cursor: pointer;
}

.about-wrapper {
  background-color: black;
  color: white;
}

.about-wrapper {
  background: linear-gradient(222deg, black, #000000, #1f2043, #2A162D);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.about-wrapper {
  /* background: linear-gradient(to bottom, black, #000000, #1f24be, #2A162D); */
  background: linear-gradient(-130deg, black, #2b162f, #35345c, black);
  /* background: linear-gradient(to bottom, #ff0000, #00ff00, #0000ff); */

  /* background-size: 400% 400%; */
  animation: gradient 10s ease-in-out infinite;
}

@keyframes gradient {
  0% {
    background: linear-gradient(-130deg, black, #2b162f, #35345c);
  }

  25% {
    background: linear-gradient(-175deg, black, #2b162f, #35345c, black);
  }

  50% {
    background: linear-gradient(-200deg, black, #2b162f, #35345c, black);
  }

  75% {
    background: linear-gradient(-175deg, black, #2b162f, #35345c, black);
  }

  100% {
    background: linear-gradient(-130deg, black, #2b162f, #35345c, black);
  }
}