.case-study-wrapper {
  /* margin: 8rem auto; */
}

.case-study-wrapper {
  background-color: black;
  color: white;
}


.case-study-wrapper {
  /* background: linear-gradient(to bottom, black, #000000, #1f24be, #2A162D); */
  background: linear-gradient(-130deg, black, #2b162f, #35345c, black);
  /* background: linear-gradient(to bottom, #ff0000, #00ff00, #0000ff); */

  /* background-size: 400% 400%; */
  animation: gradient 10s ease-in-out infinite;
}

@keyframes gradient {
  0% {
    background: linear-gradient(-130deg, black, #2b162f, #35345c);
  }

  25% {
    background: linear-gradient(-175deg, black, #2b162f, #35345c, black);
  }

  50% {
    background: linear-gradient(-200deg, black, #2b162f, #35345c, black);
  }

  75% {
    background: linear-gradient(-175deg, black, #2b162f, #35345c, black);
  }

  100% {
    background: linear-gradient(-130deg, black, #2b162f, #35345c, black);
  }
}

.casestudy-boxes {
  width: 30%;
  background-color: #FFFFFF1A;
  border-radius: 25px;
  overflow: hidden;
}

.casestudy-boxes-brand {
  position: absolute;
  top: 35%;
  left: 5%;

}

.brand-detail-icons {
  position: absolute;
  top: -7%;
}

.brand-detail-icons {}

.brand-detail-icons {}

.brand-detail-icons img {
  background-color: white;
  padding: 20px;
}

@media (max-width: 800px) {
  .casestudy-boxes {
    width: 100%;
  }
}