.get-in-touch {
  margin: 4rem auto;
}

.get-in-touch-btn button {
  padding: 0.8rem 1.2rem;
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.get-in-touch-form {
  display: flex;
  font-family: 'Quicksand', sans-serif;
  flex-direction: column;
}

.get-in-touch-form input {
  border: none;
  border-bottom: 1px solid white;
  padding: 5px 10px;
  background: transparent;
}

.get-in-touch-form input::placeholder {
  font-weight: 700;
  color: white;
}

.contact-wrapper {
  background-color: black;
  color: white;
}


.contact-wrapper {
  /* background: linear-gradient(to bottom, black, #000000, #1f24be, #2A162D); */
  background: linear-gradient(-130deg, black, #2b162f, #35345c, black);
  /* background: linear-gradient(to bottom, #ff0000, #00ff00, #0000ff); */

  /* background-size: 400% 400%; */
  animation: gradient 10s ease-in-out infinite;
}

@keyframes gradient {
  0% {
    background: linear-gradient(-130deg, black, #2b162f, #35345c);
  }

  25% {
    background: linear-gradient(-175deg, black, #2b162f, #35345c, black);
  }

  50% {
    background: linear-gradient(-200deg, black, #2b162f, #35345c, black);
  }

  75% {
    background: linear-gradient(-175deg, black, #2b162f, #35345c, black);
  }

  100% {
    background: linear-gradient(-130deg, black, #2b162f, #35345c, black);
  }
}