.content-studio-wrapper {
  background-color: black;
  color: white;
}

.offshelf-product-banner {
  margin-top: 8rem;
}

.about-gallery-wrapper {
  margin-bottom: 8rem;
}

.about-gallery-content h6 {
  color: #8A8A8A;
  font-size: 1.2rem;
}

.about-gallery-content h2 {
  font-size: 4rem;
  font-weight: 700;
}

.about-gallery-content p {
  font-size: 1.2rem;
}

.gallery-wrapper {
  margin-bottom: 8rem;
  justify-content: space-between;
}

.gallery-wrapper-box {
  width: 30%;
  background-color: #ebebeb;
  border-radius: 25px 25px;
  overflow: hidden;
  height: 300px;
}

.gallery-wrapper-box img {
  object-fit: cover;
  height: 85%;
}

.gallery-wrapper-box p {
  padding: 8px 15px;
}


/* drag and drop */
.drag-drop-wrapper {
  margin-bottom: 8rem;
}

.drag-drop-content h6 {
  color: #8A8A8A;
  font-size: 1.2rem;
}

.drag-drop-content h2 {
  font-size: 4rem;
  font-weight: 700;
}

.drag-drop-content p {
  font-size: 1.2rem;
}

.drag-drop-features {
  display: flex;
  flex-direction: column;

}

.drag-drop-features span {
  display: flex;
  align-items: center;

}

.drag-drop-features span p {
  margin-bottom: 0;
  margin-left: 10px;
}



@import "https://unpkg.com/normalize.css" layer(normalize);
@import "https://unpkg.com/open-props/open-props.min.css" layer(open-props);
@import "https://unpkg.com/open-props/normalize.min.css" layer(open-props);

*,
*:after,
*:before {
  box-sizing: border-box;
  max-inline-size: 100%;
}


.stack-cards {
  /* --stack-cards-gap: var(--space-sm); // cards gap on scrolling */
}

/* .stack-cards__item {
  position: relative; // fallback for browsers not supporting sticky position
  position: sticky;
  top: var(--space-md); // cards top position when they get fixed
  height: 0;
  transform-origin: center top;
  
  > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
} */
.stack-cards__item {
  position: sticky;
  top: 5rem;
  transform-origin: center center;
  overflow: hidden;
  list-style: none;
  height: 70vh;
  background-position: center;
  object-fit: contain;
}