.offself-wrapper {
  background: black;
  color: white;
}

.offshelf-product-banner {
  background: linear-gradient(to bottom,
      rgba(81, 79, 79, 0.2),
      rgba(11, 11, 11, 0.7)), url('../../assets/home/home.svg');
  height: 60vh;
  width: 100%;
  margin-bottom: 8rem;
  background-position: center;
  border-radius: 25px;
}

.offshelf-product-banner-content h6 {
  color: #8A8A8A;
  font-size: 1.2rem;
}

.offshelf-product-banner-content h4 {
  font-size: 2rem;
}

.offshelf-product-banner-content button {
  background: transparent;
  /* border: 1px solid white; */
  margin-top: 20px;
}

.customer-service {
  margin-bottom: 8rem;
}

.customer-service-content h6 {
  color: #8A8A8A;
  font-size: 1.2rem;
}

.customer-service-content h2 {
  font-size: 4rem;
  font-weight: 700;
}

.customer-service-content p {
  font-size: 1.2rem;

}



/* image stack */


.image-stack {
  position: relative;
  width: 100%;
  /* Adjust the width as needed */
  height: 400px;
  /* Adjust the height as needed */
}

.stacked-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  object-fit: cover;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.stacked-image:not(:first-child) {
  transform: translateY(20px);
  opacity: 0.8;
}

.lms-wrapper {
  background: black;
  color: white;
}

.customcourse-wrapper {
  background: black;
  color: white;
}


.customcourse-wrapper,
.offself-wrapper .lms-wrapper {
  background: linear-gradient(222deg, black, #000000, #1f2043, #2A162D);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.stack-cards__item {
  position: sticky;
  top: 5rem;
  transform-origin: center center;
  overflow: hidden;
  list-style: none;
  height: 70vh;
  background-position: center;
  object-fit: contain;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.offself-wrapper,
.lms-wrapper {
  /* background: linear-gradient(to bottom, black, #000000, #1f24be, #2A162D); */
  background: linear-gradient(-130deg, black, #2b162f, #35345c, black);
  /* background: linear-gradient(to bottom, #ff0000, #00ff00, #0000ff); */

  /* background-size: 400% 400%; */
  animation: gradient 10s ease-in-out infinite;
}

@keyframes gradient {
  0% {
    background: linear-gradient(-130deg, black, #2b162f, #35345c);
  }

  25% {
    background: linear-gradient(-175deg, black, #2b162f, #35345c, black);
  }

  50% {
    background: linear-gradient(-200deg, black, #2b162f, #35345c, black);
  }

  75% {
    background: linear-gradient(-175deg, black, #2b162f, #35345c, black);
  }

  100% {
    background: linear-gradient(-130deg, black, #2b162f, #35345c, black);
  }
}